.vermelho{
    color: rgb(97, 6, 6);
    font: 40 px;
    font-family: fantasy;
}
.azul{
    color:rgb(8, 39, 105);
    font: 40 px;
    font-family: serif;
}
.verde{
    color:rgb(0, 94, 5);
    font: 40 px;
    font-family: serif;
}